.card{
  background-color: #fff;
  margin: 50px 20px 20px 11.5%;
  padding: 55px;
  text-align: center;
  width: 75%;
}
body {
    background-image: url("http://i.imgur.com/wMiAXnr.jpg");
    background-color: #cccccc;
}
